{% extends 'newsapp/base.html' %}
{% block content %}

<h1>{{ object.title }}</h1>
<p>{{ object.body }}</p>
<p>Автор: {{ object.author }}</p>

<form action="{% url 'article_like' object.id %}" method="post">
{% csrf_token %}
    {% if user in object.likes.all %}
    <button type="submit" name="article_id" value="{{ object.id }}" class="btn btn-secondary">Like</button>
    {% else %}
      <button type="submit" name="article_id" value="{{ object.id }}" class="btn btn-primary">Like</button>
    {% endif %}

</form>
Всього лайків {{ object.sum_of_likes }}





<h2>Коментарі</h2>
Всього комментарів {{ object.sum_of_comments }}
{% if user.is_authenticated %}
<a href="{% url 'comment_add' object.id %}">Залишити коментар</a>

{% else %}
<p style="color:red;">Ви неавторизовані! Зареєструйтесь, щоб залишити коментар! <a href="{% url 'accounts:login' %}">Log in</a> or make a registration <a href="{% url 'accounts:registration' %}">Registration</a></p>
{% endif %}
{% for comment in comment_list %}
<div class="row d-flex justify-content-center m-4">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <p class="small mb-0 ms-6">Автор {{ comment.author }} </p>
            <p class="small mb-0 ms-6">Створено {{ comment.created_comment}}</p>
             {{ comment.body }}
    {% if request.user ==  comment.author %}
    da
            <a href="{% url 'comment_update' comment.id %}"> update  </a> | <a href="{% url 'comment_delete' comment.id %}"> delete </a>
    {% endif %}


        </div>
    </div>
</div>

{% endfor %}


{% endblock %}