<!doctype html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'newsapp:main' %}"><img src="{% static 'newsapp/news_23848.png' %}"></a>
  <div class="collapse navbar-collapse" >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'wheather:wheather' %}">Погода <span class="sr-only"></span></a>
    </div>
  </div>
</nav>



{% if user.is_authenticated %}
  Привіт, {{ user.get_full_name }}!
<p><a href="{% url 'accounts:info' %}"> Твоя сторінка </a>
  <a href="{% url 'accounts:logout' %}"> Вийти </a>
</p>
{% else %}
<div>
  <a href="{% url 'accounts:login' %}"> Увійти </a>  | <a href="{% url 'accounts:register' %}"> Зареєструватись </a>
</div>
{% endif %}
   {% block content %} {% endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<br>
<footer class="mt-auto" style="background: black; color:white;">
   <div class="container-fluid">
     <div class="row">
        <div class="col-lg-2">
           <a class="navbar-brand" href="{% url 'newsapp:main' %}"><img src="{% static 'newsapp/news_23848.png' %}"></a>
        </div>
       <div class="col-lg-4">
           <h4>Репозиторій проекту</h4>
         <a href="https://github.com/Artem-1313/petproject.git">github</a>
        </div>
       <div class="col-lg-4">
           <h4>Соціальні мережі</h4>
         <a href="https://www.instagram.com/artemkhmil/">Instagram</a>
        </div>
       <div class="col-lg-2">
             {% if user.is_authenticated %}
                Привіт, {{ user.get_full_name }}!
    <p><a href="{% url 'accounts:info' %}"> Твоя сторінка </a>
      <a href="{% url 'accounts:logout' %}"> Вийти </a>
    </p>
    {% else %}
      <a href="{% url 'accounts:login' %}"> Увійти </a>  | <a href="{% url 'accounts:register' %}"> Зареєструватись </a>
    {% endif %}
       </div>
    </div>
   </div>
 </footer>
  </body>
</html>