{% extends 'newsapp/base.html' %}
{% block content %}
{% load static %}

<div>
{% for i in wheather %}
{{ i.city }}
{{ i.current_temperature}}
 <img src="http://openweathermap.org/img/w/{{ i.icon }}.png" alt="Image" width="40 ">
{% endfor %}
    </div>
<h1>Новини</h1>
<ul>
{% for article in object_list %}
   <div class="container-fluid">
       <div class="row">
            <div class="col-2">
                <a href="{% url 'newsapp:article_detail' article.id %}" class="img-fluid"> <img src="{{ article.image.url }}" width="170px"></a>
           </div>
 <div class="col-2">
   <a href="{% url 'newsapp:category'  article.categories.id %}">{{ article.categories }}</a>
     <a href="{% url 'newsapp:article_detail' article.id %}" class="img-fluid"> <button class="btn btn-primary">Детальніше</button></a>
     <p> <b class="text-muted">Автор</b> {{ article.author.get_full_name }} </p>
     <p> <b class="text-muted">Створено</b>   {{ article.created_article }} </p>
 </div>



       {{ article.annotation }}
       {{ article.categories }}
    </div>
</div>
    <br>
{% empty %}
    <li>Не має новин.</li>
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Перша</a>
            <a href="?page={{ page_obj.previous_page_number }}">Попередня</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Наступня</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Остання &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}